    /*
    Flaticon icon font: Flaticon
    Creation date: 19/09/2020 16:59
    */
    
    @font-face {
        font-family: "Flaticon";
        src: url("/static/flaticon/font/Flaticon.eot");
        src: url("/static/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"), url("/static/flaticon/font/Flaticon.woff2") format("woff2"), url("/static/flaticon/font/Flaticon.woff") format("woff"), url("/static/flaticon/font/Flaticon.ttf") format("truetype"), url("/static/flaticon/font/Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
            font-family: "Flaticon";
            src: url("/static/flaticon/font/Flaticon.svg#Flaticon") format("svg");
        }
    }
    
    .fi:before {
        display: inline-block;
        font-family: "Flaticon";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    
    .flaticon-burger:before {
        content: "\f100";
    }
    
    .flaticon-fast-food:before {
        content: "\f101";
    }
    
    .flaticon-snack:before {
        content: "\f102";
    }
    
    .flaticon-cocktail:before {
        content: "\f103";
    }
    
    .flaticon-vegetable:before {
        content: "\f104";
    }
    
    .flaticon-meat:before {
        content: "\f105";
    }
    
    .flaticon-medal:before {
        content: "\f106";
    }
    
    .flaticon-fruits-and-vegetables:before {
        content: "\f107";
    }
    
    .flaticon-cooking:before {
        content: "\f108";
    }
    
    .flaticon-courier:before {
        content: "\f109";
    }
    
    $font-Flaticon-burger: "\f100";
    $font-Flaticon-fast-food: "\f101";
    $font-Flaticon-snack: "\f102";
    $font-Flaticon-cocktail: "\f103";
    $font-Flaticon-vegetable: "\f104";
    $font-Flaticon-meat: "\f105";
    $font-Flaticon-medal: "\f106";
    $font-Flaticon-fruits-and-vegetables: "\f107";
    $font-Flaticon-cooking: "\f108";
    $font-Flaticon-courier: "\f109";