.achievements{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.achievements h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.achievements ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.achievements ul li{
    text-align: center;
    width: 25%;
    font-size: 20px;
    font-weight: 600;
}
.achievements ul li strong{
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #fdd700;
}