.p {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
    color: #ffc400;
    font-weight: bold;
    padding-top: 8px;
}

.card-title i {
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
    color: #5cff10
}

.card-text {
    font-size: 16px;
}

.float-left {
    font-size: 14px;
}

.float-right {
    font-size: 14px;
}

i:hover {
    color: #719a0a;
}

.k:hover {
    color: #1898d4;
}

.k {
    color: #5cff10 !important;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 110px;
    padding-left: 5px;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

.text-right {
    padding-right: 15px;
}

.text-left {
    padding-right: 15px;
}

.float-modal {
    position: fixed;
    bottom: 5px;
    right: 7.5px;
    z-index: 100;
}

.float-cart {
    position: fixed;
    top: 75px;
    right: 0px;
    z-index: 100;
}

.small {
    font-size: 13px;
}