<script>
  import svelteLogo from './assets/logogavo.webp'
  import Counter from './lib/Counter.svelte'
</script>

<main>
  <div>
    <!-- <a href="https://vitejs.dev" target="_blank" rel="noreferrer"> 
      <img src="/vite.svg" class="logo" alt="Vite Logo" />
    </a> -->
    <a href="https://gavofoods.co.ke" target="_blank" rel="noreferrer"> 
      <img src={svelteLogo} class="logo svelte" alt="GavoFoods Logo" />
    </a>
  </div>
  <!-- <h1>Vite + Svelte</h1> -->

  <div class="card">
    <!-- <Counter /> -->
  </div>

  <p>
    Check out <a href="https://shop.gavofoods.co.ke/" target="_blank" rel="noreferrer">GavoFoods Shop</a>, and buy gluten-free flours and bread today!
  </p>

  <!-- <p class="read-the-docs">
    Click on the Vite and Svelte logos to learn more
  </p> -->
</main>

<style>
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  /* .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  } */
  .logo.svelte:hover {
    filter: drop-shadow(0 0 2em #83b828);
  }
  /* .read-the-docs {
    color: #888;
  } */
</style>

<!-- <script>
  import SimpleGallery from './lib/SimpleGallery.svelte'

  const images = [
            {
              largeURL:
                'https://cdn.photoswipe.com/photoswipe-demo-images/photos/1/img-2500.jpg',
              thumbnailURL:
                'https://cdn.photoswipe.com/photoswipe-demo-images/photos/1/img-200.jpg',
              width: 1875,
              height: 2500,
            },
            {
              largeURL:
                'https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg',
              thumbnailURL:
                'https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-200.jpg',
              width: 1669,
              height: 2500,
            },
            {
              largeURL:
                'https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg',
              thumbnailURL:
                'https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-200.jpg',
              width: 2500,
              height: 1666,
            },
          ]
</script>

  <SimpleGallery galleryID="my-test-gallery" {images} /> -->
